<div class="container justify-content-center">
    <form>
        <div class="pb-4 mt-4 text-center" *ngIf="itemID!==null"><b>AGGIORNA DATI CATEGORIA</b></div>
        <div class="pb-4 mt-4 text-center" *ngIf="itemID===null"><b>AGGIUNGI NUOVA CATEGORIA</b></div>
        <div class="row">
            <wd-field-text [title]="'Nome'" [required]=true (valueChange)="itemData.Name = $event"
                [searchButtonVisible]=false class="p-0 px-2 col-12 col-md-6" [value]="itemData.Name"></wd-field-text>
            <p *ngIf="itemData.Name === undefined" class="p-0 ngp-error-input">{{errorText}}</p>
            <wd-field-text [title]="'Nome completo'" (valueChange)="itemData.NameComplete = $event"
                [searchButtonVisible]=false class="p-0 px-2 col-12 col-md-6" [value]="itemData.NameComplete">
            </wd-field-text>
        </div>
        <div class="col text-center m-4">
            <span class="p-1">
                <button class="btn btn-outline-success" type="submit" *ngIf="itemID!==null"
                    (click)="getItemUpdate()">Aggiorna</button>
                <button class="btn btn-outline-success" type="submit" *ngIf="itemID===null"
                    (click)="getFormResult()">Aggiungi</button>
            </span>

            <span class="p-1">
                <button class="btn btn-outline-danger" [routerLink]="['/admin/items']">Annulla</button>
            </span>
        </div>
    </form>
</div>